@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

* {
    font-family: Poppins-Regular;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(260deg, #ff4d4d 0%, #9900ff  100%);
    padding-top: 65px;
}

.logo {
    width: 100px;
    height: 100px;
}

.main-content {
    text-align: center;
    color: #F0FFFFFF;
}

.content-title {
    display: flex;
    flex-direction: row;
    color: #F0FFFF;
    text-align: center;
}

.content-title:before, .content-title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #F0FFFF;
    margin: 10px;
}

.services-column-title {
    float: left;
    width: 33%;
}

.services-column-title h3 {
    padding-left: 20px;
    text-align: center;
    color: #F0FFFF;
}

.services-column-title a {
    color: #F0FFFF;
}

.services-column-title a:hover {
    color: #cccccc;
    text-decoration: none;
}

.services-row:after {
    content: "";
    display: table;
    clear: both;
}

.services-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
}

ul {
    list-style: none;
    text-align: center;
    color: #FFFFFF;
}

.day {
    float: left;
    padding-left: 35%;
    position: absolute;
    left: 0;
}

.hour-time {
    padding-right: 35%;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
}

.hours li {
    color: #F0FFFF;
    padding: 10px;
    margin: 10px 0;
    font-size: 24px;
}

.navbar {
    font-size: 18px;
    background-origin: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient(260deg, #ff4d4d 0%, #9900ff  100%);
    padding-bottom: 1px;
}

.about-us-details {
    text-align: center;
    color: #F0FFFF;
}


@media screen and (max-width: 950px) {
    .services-image {
        width: 100%;
    }

    .nav-item {
        text-align: center;
    }

    #home-email {
        width: 100%;
    }

    .day {
        float: left;
        padding-left: 10%;
    }

    .hour-time {
        padding-right: 10%;
    }

    .services-column-title {
        width: 100%;
    }

    .services-column-title h3 {
        padding-left: 5px;
    }

    #services-column-title-first-element {
        padding-bottom: 10px;
    }

    .services-column-title-non-first-element {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ccc !important;
}

.about-us-details {
    font-size: 24px;
}
